<%- if controller_name != 'sessions' %>
  <p class="text-center text-muted small">
    Do you have an account? <%= link_to 'Sign In!', new_session_path(resource_name) %><br />
  </p>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p class="text-center text-muted small">
    Don't have an account? <%= link_to 'Register!', new_registration_path(resource_name) %>
  </p>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <p class="text-center text-muted small">
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
  </p>
<% end -%>
